/* .spotListWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
} */

.notOwnedSpotsList {
    float: left;
}

.individualSpot {
    /* background-color: red; */
}

.eachSpotOnLandingPage {
    text-decoration: none !important;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 50px;
    /* display: flex;
    flex-direction: column; */
    /* background-color: red; */
}

NavLink {
    text-decoration: none;
}

.mock-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
