/* .spotListWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
} */

.notOwnedSpotsList {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    /* margin-top: 1vh; */
}

.eachSpotOnLandingPage {
    text-decoration: none !important;
    color: black;
    /* margin-top: 50px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: red; */
}

.allSpotsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

NavLink {
    text-decoration: none;
}

.mock-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.indivSpot {
    margin-bottom: 20px;
}

.spot:hover {
    box-shadow: rgb(32 178 170 / 42%) 0px 6px 16px;
    opacity: 0.8;
}

.loginButton {
    border: 1.2px solid lightseagreen;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    color: lightseagreen;
    text-decoration: none;
    float: right;
    margin-top: 2vh;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 2vw;
    cursor: pointer;
}

.signupButton {
    border: 1.2px solid lightseagreen;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    color: lightseagreen;
    text-decoration: none;
    float: right;
    margin-top: 2vh;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.loginButton:hover {
    /* opacity: 0.7; */
    box-shadow: rgb(32 178 170 / 28%) 0px 0px 10px;
}

.signupButton:hover {
    box-shadow: rgb(32 178 170 / 28%) 0px 0px 10px;
}

.bannerText {
    display: flex;
    justify-content: center;
    font-size: 3vh;
    background-color: lightseagreen;
    color: white;
    font-family: fantasy;
    padding-top: 30px;
    /* background-image: linear-gradient(-225deg,
            #01dae6 0%,
            #03d1ce 29%,
            #02a38e 67%,
            #0398a6 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite; */
}

/* @keyframes textclip {
    to {
        background-position: 200% center;
    }
} */

.bannerCard {
    /* height: '8vh', marginBottom: '2vh' */
    height: 8vh;
    margin-bottom: 2vh;
}

@media (max-height: 1050px) {
    .bannerCard {
        margin-bottom: 2.5vh;
    }
}

@media (max-height: 1000px) {
    .bannerCard {
        margin-bottom: 2.7vh;
    }
}

@media (max-height: 950px) {
    .bannerCard {
        margin-bottom: 3vh;
    }
}

@media (max-height: 900px) {
    .bannerCard {
        margin-bottom: 3.5vh;
    }
}

@media (max-height: 850px) {
    .bannerCard {
        margin-bottom: 4vh;
    }
}

@media (max-height: 800px) {
    .bannerCard {
        margin-bottom: 4.5vh;
    }
}

@media (max-height: 760px) {
    .bannerCard {
        margin-bottom: 5vh;
    }
}
