.individualSpotsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.eachSpotOnUserProfilePage {
    text-decoration: none !important;
}

NavLink {
    text-decoration: none;
}

.spotListWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ownedSpotsList {
    margin-left: 450px;
}

.notOwnedSpotsList {
    float: left;
}

.mock-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.editSpotFormWrapper {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 14%);
}

.editSpotForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border: 1.2px solid rgb(181, 180, 180);
    border-radius: 20px;
    height: 780px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1.2px solid rgb(181, 180, 180);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    background-color: white;
}

.editSpotInputBoxFieldsWrapper {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-inline-start: 0;
}

.editSpotInputBoxFields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editSpotInputBoxFields>input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
}

.editSpotFormSubmitButton {
    width: 200px;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightseagreen;
}

.editSpotFormSubmitButton:hover {
    background: white;
    color: lightseagreen;
}

.windowCloseButton {
    color: red;
}

.windowCloseButton:hover {
    cursor: pointer;
    box-shadow: rgba(233, 4, 4, 0.28) 0px 0px 10px;
}

.editYourSpotMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: lightseagreen;
}

.windowCloseIconButton {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 330px;
    width: 40px;
    color: rgb(181, 180, 180);
}

.editBookingFormWrapper {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 430px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 50%;
}

.editBookingForm {
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.editBookingFormInputFieldsWrapper {
    margin-bottom: 10px;
    margin-top: 20px;
    padding-inline-start: 0;
}

.editBookingFormInputFields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editBookingFormInputFields>input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
}

.editBookingFormSubmitButton {
    width: 180px;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightseagreen;
}

.editBookingFormSubmitButton:hover {
    color: lightseagreen;
    background: white
}

.windowCloseIconButtonEditBookingForm {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 40px;
    color: rgb(181, 180, 180);
    margin-left: 280px;
    margin-bottom: 0px;
}

.editYourReservationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: lightseagreen;
}

.individualSpotsWrapper>div {
    margin-bottom: 20px;
}

.userProfileButtons {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.inputBoxFieldsOption {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}



@media (max-height: 1100px) {
    .editSpotFormWrapper {
        transform: translate(-50%, 10%);
    }
}

@media (max-height: 1000px) {
    .editSpotFormWrapper {
        transform: translate(-50%, 4%);
    }
}

@media (max-height: 950px) {
    .editSpotFormWrapper {
        transform: translate(-50%, -1%);
    }
}

@media (max-height: 900px) {
    .editSpotFormWrapper {
        transform: translate(-50%, -1%);
    }

    .editSpotForm {
        height: 670px;
    }

    .editYourSpotMessage {
        font-size: 27px;
        margin-bottom: 5px;
    }

    .windowCloseIconButton {
        font-size: 23px;
    }

    .editSpotInputBoxFieldsWrapper {
        margin-bottom: 3px;
        margin-top: 5px;
    }

    .editSpotInputBoxFields {
        margin-bottom: 4px;
    }

    .editSpotInputBoxFields>input {
        height: 28px;
    }

    .inputBoxFieldsOption {
        margin-bottom: 5px;
        height: 28px;
    }
}

@media (max-height: 850px) {
    .createSpotFormWrapper {
        transform: translate(-50%, 3%);
    }

    .editSpotForm {
        height: 650px;
    }

    .editYourSpotMessage {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .windowCloseIconButton {
        font-size: 22px;
    }

    .editSpotInputBoxFieldsWrapper {
        margin-bottom: 2px;
        margin-top: 4px;
    }

    .editSpotInputBoxFields {
        margin-bottom: 3.5px;
    }

    .editSpotInputBoxFields>input {
        height: 27px;
    }

    .inputBoxFieldsOption {
        margin-bottom: 5px;
        height: 27px;
    }
}

@media (max-height: 800px) {
    .createSpotFormWrapper {
        transform: translate(-50%, 2%);
    }

    .editSpotForm {
        height: 645px;
    }

    .editYourSpotMessage {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .windowCloseIconButton {
        font-size: 21px;
    }

    .editSpotInputBoxFieldsWrapper {
        margin-bottom: 2px;
        margin-top: 3px;
    }

    .editSpotInputBoxFields {
        margin-bottom: 3.5px;
    }

    .editSpotInputBoxFields>input {
        height: 27px;
    }

    .inputBoxFieldsOption {
        margin-bottom: 4px;
        height: 27px;
    }
}

@media (max-height: 760px) {
    .createSpotFormWrapper {
        transform: translate(-50%, 1%);
    }

    .editSpotForm {
        height: 600px;
    }

    .editYourSpotMessage {
        font-size: 23px;
        margin-bottom: 0px;
    }

    .windowCloseIconButton {
        font-size: 19px;
    }

    .editSpotInputBoxFieldsWrapper {
        margin-bottom: 1px;
        margin-top: 2px;
    }

    .editSpotInputBoxFields {
        margin-bottom: 3px;
    }

    .editSpotInputBoxFields>input {
        height: 25px;
    }

    .inputBoxFieldsOption {
        margin-bottom: 3px;
        height: 25px;
    }
}
