.eachSpotOnLandingPage {
    text-decoration: none !important;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 50px;
}

NavLink {
    text-decoration: none;
}

.spotListWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ownedSpotsList {
    margin-left: 450px;
}

.notOwnedSpotsList {
    float: left;
}

.individualSpot {}

.mock-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
