#profileButton {
    margin-right: 50px;
    float: right;
    /* color: rgb(98, 97, 97); */
    font-size: 16px;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid rgb(181, 180, 180);
    display: inline-block;
    position: relative;
    margin-top: 2vh;
    cursor: pointer;
}

.profileIcon {
    font-size: 25px;
    display: inline-block;
    margin-right: 7px;
}

.hamburgerMenuIcon {
    display: inline-block;
    font-size: 25px;
}

.windowCloseIcon {
    color: rgb(181, 180, 180);
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 330px;
    width: 40px;
}

.profile-dropdown {
    position: absolute;
    width: 170px;
    height: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 60px;
    padding-inline-start: 0;
    border-radius: 12px;
    background-color: white;
    z-index: 10000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-dropdown li {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    width: 150px;
}

/* .profile-dropdown li:hover {
    color: #FFFFFF;
    opacity: 0.5;
    border-radius: 12px;
    background-color: lightseagreen;
} */

.logoContainer {
    list-style: none;
    border-bottom: 0.7px solid rgb(181, 180, 180);
}

.createSpotForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border: 1.2px solid rgb(181, 180, 180);
    border-radius: 20px;
    height: 750px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1.2px solid rgb(181, 180, 180);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    background-color: white;
}

.inputBoxFieldsWrapper {
    margin-bottom: 10px;
    margin-top: 20px;
    padding-inline-start: 0;
}

.inputBoxFields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBoxFields>input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
}

.inputBoxFieldsOption {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.loginButton {
    border: 1.2px solid lightseagreen;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    color: lightseagreen;
    text-decoration: none;
    float: right;
    margin-top: 2vh;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 2vw;
}

.signupButton {
    border: 1.2px solid lightseagreen;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    color: lightseagreen;
    text-decoration: none;
    float: right;
    margin-top: 2vh;
    font-size: 25px;
    font-weight: bold;
}

.hostSpotSubmitButton {
    width: 200px;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightseagreen;
}

.hostSpotSubmitButton:hover {
    background: white;
    color: lightseagreen;
}

.createYourSpotMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: lightseagreen;
}

.createSpotFormWrapper {
    position: fixed;
    z-index: 10001;
    left: 50%;
    transform: translate(-50%, 32%);
}

.profileButton {
    width: 100%;
}

.logOutButton {
    width: 100%;
}

.hostASpotButton {
    width: 100%;
}

.nomadColor {
    color: white;
    background-color: lightseagreen;
}

.windowCloseButton {
    color: red;
}

.windowCloseButton:hover {
    cursor: pointer;
    box-shadow: rgba(233, 4, 4, 0.28) 0px 0px 10px;
}
