.spotName {
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 0;
}

.spotAddress {
    margin-top: 0;
}

.spotPrice {}

.confirmedBookingsTitle {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookingNameAndDates {
    width: 200px;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingNameAndDatesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.createBookingFormWrapper {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createBookingForm {
    /* background-color: blue; */
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.createBookingFormInputFieldsWrapper {
    margin-bottom: 10px;
    margin-top: 20px;
    padding-inline-start: 0;
}

.createBookingFormInputFields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createBookingFormInputFields>input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
}

.createBookingFormSubmitButton {
    width: 180px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: white;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .windowCloseIconButtonCreateBookingForm {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 280px;
    width: 40px;
    color: rgb(181, 180, 180);
} */

.bookYourStayMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
