.spotName {
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 0;
}

.spotAddress {
    margin-top: 0;
}

.spotPrice {}

.confirmedBookingsTitle {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookingNameAndDates {
    width: 200px;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
    padding-top: 1vh;
}

.bookingNameAndDatesWrapper {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createBookingFormWrapper {
    position: sticky;
    z-index: 9999;
    left: 52%;
    transform: translate(-2vw, -11vh);
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 42%) 0px 6px 16px;
    left: 60%;
}

.createBookingForm {
    /* background-color: blue; */
    width: 209px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.createBookingFormInputFieldsWrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-inline-start: 0;
}

.createBookingFormInputFields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createBookingFormInputFields>input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
}

.createBookingFormSubmitButton {
    width: 180px;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightseagreen;
}

.createBookingFormSubmitButton:hover {
    color: lightseagreen;
    background-color: white;
}

/* .windowCloseIconButtonCreateBookingForm {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 280px;
    width: 40px;
    color: rgb(181, 180, 180);
} */

.bookYourStayMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}


/* ANYTHING ABOVE IS PREVIOUS CSS BEFORE BOOTSTRAP IMPLEMENTATION */
.airbnbColor {
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: white;
}

.specificSpotImage {
    /* max-width: 90vw; */
    max-height: 50vh;
}

.confirmedBookingsList {
    position: sticky;
    z-index: 9999;
    left: 52%;
    transform: translate(-2vw, -8vh);
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 42%) 0px 6px 16px;
    /* overflow-y: scroll; */
    /* padding-top: 13vh; */
    padding-bottom: 2vh;
    left: 60%;
}

.buttons {
    border: 1px solid lightseagreen;
}

.buttons:hover {
    border: 1px solid lightseagreen;
    color: lightseagreen;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.submitReviewButton {
    border: 1px solid lightseagreen;
}

.submitReviewButton:hover {
    color: lightseagreen;
    border: 1px solid lightseagreen;
    background: white;
}

.submitEditReviewButton {
    border: 1px solid lightseagreen;
}

.submitEditReviewButton:hover {
    color: lightseagreen;
    border: 1px solid lightseagreen;
    background: white;
}
